/*removing prev and next links*/
md-footer__inner { display: none !important; }
.nav-link[rel="next"] {display: none;}
.nav-link[rel="prev"] {display: none;}

@media only screen and (max-width: 767.9px) {

    .site-name{
        font-size:1em !important;
    }

    h1{
        font-size:1.5em !important;
    }

    h2{
        font-size:1.35em !important;
    }

    h3{
        font-size:1.35em !important;
    }

    p,li{
        font-size:1em !important;
        margin: 1.15em 0 !important;
    }

    h5{
        font-size:1em !important;
    }

    hr{
        margin: 1em 0em !important;
    }

    div.duedate>p{
        font-size:medium !important;
    }

    ul>li.nav-item, ul.dropdown-menu>li{
        margin: 0 !important;
        padding:0em !important;
        margin-top:0;
        margin-bottom:0;
        font-size:1em !important;
        line-height:1.1em !important;
    }

    a.nav-link{
        font-size:1em !important;
        line-height:1.25em !important;
        padding:0;
        margin-top:1rem;
        margin-bottom:1rem;
    }

    figcaption{
        font-size:small !important;
    }

    ul,ol{
        margin-bottom:1.75rem !important;
    }

    .div-container {
        padding:0 !important;
       
    }

    .div-container>div{
        width:100% !important;
        margin-left:0;
        margin-right:0;
         max-width: 2000px !important;
    }

    div.post-thumbnail>h4{
        font-size:1em !important;
        margin: 0 !important;
    }

    div.post-thumbnail>p{
        margin: 0 !important;
    }

    div.post-thumbnail{
        width: 45% !important;
        display: inline-block;
        vertical-align: top;
        justify-content: left;
    }

    div.post-thumbnail>a>img{
        
        width:100%;
        height: 200px;
        object-fit:cover;
    }

    div.duedate>blockquote{
        font-size:small !important;
        margin-bottom:1.6rem !important;
    }

    td, thead{
        font-size:small !important;
    }
}
#component-sidebar{
    position:fixed;
    
}


@media only screen and (min-width: 768px) {
    #component-content{
        margin-left:15%;
    }

    .col-md-3 {
        max-width: 250px;
    }  
}

.img-wrapper{
    width:100%;
    height: 200px;
    position:relative;
    margin-bottom:1rem;
    background-size: auto 100%;
    background-color:black;
    background-repeat: no-repeat;
    background-position: center;
}

.img-mouseon{
    width:100%;
    height: 200px;
    object-fit:cover;
    position:relative;
    top:0;
    left:0;
    opacity:0;
    transition: opacity 0.2s ease-out;
}

.img-mouseon:hover{
    opacity:1;
}


div.post-thumbnail>h4>a {
    text-decoration: none;
    font-weight:bold;
    word-wrap: break-word;
}

h1.project-title{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight:bold;
}

div.post-thumbnail>h4{
    line-height:normal;
    padding:0;
    margin:0;
}

div.post-thumbnail>p{
    line-height:normal !important;
    padding:1rem 0;
    margin:0;
}

div.post-thumbnail{
    margin-bottom:1rem;
    width:30%;
}


div.scroll {
    margin: 4px, 4px;
    padding: 0 2rem;
    width: 500px;
    height: 315px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    background-color:beige;
}

div.scroll>p{
    color:rgb(0, 0, 0);
    font-family:serif;
}

.div-container{
    display: flex;
    flex-wrap:wrap;
    align-items: top;
    justify-content: center;
}

.div-container>div {
    margin:10px auto;
    display: inline-block;
    vertical-align: top;
    justify-content: left;
}
  
mark{
    background-color:#fbeac7;
}

mark.due{
    background-color:#f1bdbe;
}

mark.assign{
    background-color: #fbeac7;
}

figcaption{
    font-weight:normal;
    font-style:italic;
    text-align:left;
    font-size:0.85em;
    margin-top:1rem;
    margin-bottom:1.5rem;
    line-height:175%;
    color:rgb(65, 65, 65);
}

@media only screen and (min-width: 768px) {
    p,li, code, pre>code, td{
        font-size:1.05em !important;
        line-height:1.75em;
    }
}

div.duedate{
    border: darkorange solid 2px;
    padding:0 1em;
    margin-bottom:2em;
}

div.duedate>p{
    font-size:x-large;
    padding:0;
    line-height: 175%;
}

div.duedate>blockquote{
    font-size:medium;
    color:rgb(39, 39, 39);
    line-height:175%;
    margin-bottom:2rem;
}

div.duedate>p>a{
    font-weight:bold;
    font-style:italic;
}

header{
    z-index:10;
    background-color:white;
    position: sticky !important;
    top: 0;
}

ul,ol{
    margin-bottom:2.5rem;
}

ul>li{
    list-style-type:square;
}

ol>li{
    margin-left: 0.75em !important;
    padding: 0 !important; 
}

ul>li.nav-item, ul.dropdown-menu>li{
    list-style-type: none;
    margin: 0 !important;
    margin-top:0;
    margin-bottom:0;
     font-size:1em !important;
     line-height:1.1em !important;
}
ul.dropdown-menu>li{
    padding:0;
}

li::marker {
    color:rgb(0, 0, 0);
}

a.dropdown-item{
    font-size:1.25em !important;
    line-height:1.75em !important;
    margin:0 !important;
}

a{
    color: #2c652e!important;
    font-size:100% !important;
}

a:hover{
    color:#76cf79!important;
}

mark>a{
    color:black !important;
}

mark>a:hover{
    color:white !important;
}

hr{
    margin: 2em 0em;
}

h1{
    font-size:2.75em;
    line-height:1.25em;
}

h2{
    background-color: #4cae4f !important;
    color: rgb(255, 255, 255); 
    padding:0.3em 0.5em 0.275em;
    margin-bottom:2rem;
    line-height:1.25em;
}

h3{
    color: #4cae4f;
    padding-top:0.3em;
    padding-bottom: 0.275em;
    margin-bottom:2rem;
    font-weight:bold;
    line-height:1.5em;
}

h4{
    color: #4cae4f;
    padding-top:0.1em;
    line-height:1.5em;
}

h5{
    padding-top:0.1em;
    font-size:1.15em;
    line-height:1.5em;
}

li{
    padding:0 0 0 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

blockquote{
    padding-right:10px;
    border-color:#4cae4f;
}

blockquote>p, blockquote>ol>li, blockquote>ul>li{
    color:rgb(49, 49, 49);
}

blockquote>blockquote{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

td{
    vertical-align: top;
}

code{
    background-color: rgb(46, 46, 46) !important;
}

pre{
    font-size:1em;
    background-color: rgb(46, 46, 46) !important;
   
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-keyword {
    color: #2ae5ef;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  
  color: #5c9feb;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #f2777a;
}

.hljs-type{
color: #eb913d;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #999999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
    color: #ffffff;
}

.hljs-emphasis {
  font-style: italic;
}

