/*removing prev and next links*/
md-footer__inner { display: none !important; }
.nav-link[rel="next"] {display: none;}
.nav-link[rel="prev"] {display: none;}

.md-header {
    box-shadow: none !important;
}

/* .md-nav__list a{
    text-decoration: none !important;
    color:#5a1324 !important;
} */
.md-content__inner a{
   color: #9f2d47!important;
    text-decoration: underline !important;
 }

.md-footer{
    display: none;
    font-style: normal !important;
    
}

span.md-ellipsis{
    font-size:1.15em
}

@media only screen and (max-width: 767.9px) {

   
    h1{
        font-size:1.5em !important;
    }

    h2{
        font-size:1.35em !important;
    }

    h3{
        font-size:1.35em !important;
    }

    h5{
        font-size:1em !important;
    }

    hr{
        margin: 1em 0em !important;
    }

    figcaption{
        font-size:small !important;
    }

   
  

    div.post-thumbnail>h4{
        font-size:1em !important;
        margin: 0 !important;
    }

    div.post-thumbnail>p{
        margin: 0 !important;
    }

    div.post-thumbnail{
        width: 45% !important;
        display: inline-block;
        vertical-align: top;
        justify-content: left;
    }

    div.post-thumbnail>a>img{
        
        width:100%;
        height: 200px;
        object-fit:cover;
    }

    div.duedate>blockquote{
        font-size:small !important;
        margin-bottom:1.6rem !important;
    }

    td, thead{
        font-size:small !important;
    }
}
#component-sidebar{
    position:fixed;
    
}


@media only screen and (min-width: 768px) {
   
}


div.post-thumbnail>h4>a {
    text-decoration: none;
    font-weight:bold;
    word-wrap: break-word;
}

h1.project-title{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight:bold;
}

div.post-thumbnail>h4{
    line-height:normal;
    padding:0;
    margin:0;
}

div.post-thumbnail>p{
    line-height:normal !important;
    padding:1rem 0;
    margin:0;
}

div.post-thumbnail{
    margin-bottom:1rem;
    width:30%;
}


figcaption{
    font-weight:normal;
    font-style:italic;
    text-align:left;
    font-size:0.85em;
    margin-top:1rem;
    margin-bottom:1.5rem;
    line-height:175%;
    color:rgb(65, 65, 65);
}

@media only screen and (min-width: 768px) {
  
}

div.duedate{
    border: darkorange solid 2px;
    padding:0 1em;
    margin-bottom:2em;
}

div.duedate>p{
    font-size:x-large;
    padding:0;
    line-height: 175%;
}

div.duedate>blockquote{
    font-size:medium;
    color:rgb(39, 39, 39);
    line-height:175%;
    margin-bottom:2rem;
}

div.duedate>p>a{
    font-weight:bold;
    font-style:italic;
}

header{
    z-index:10;
    background-color:white;
    position: sticky !important;
    top: 0;
}


ol>li{
    margin-left: 0.75em !important;
    padding: 0 !important; 
}

ul>li.nav-item, ul.dropdown-menu>li{
    list-style-type: none;
    margin: 0 !important;
    margin-top:0;
    margin-bottom:0;
     font-size:1em !important;
     line-height:1.1em !important;
}
ul.dropdown-menu>li{
    padding:0;
}

li::marker {
    color:rgb(0, 0, 0);
}

h1{
    color: #8d2d44!important;
}

a{
    color: #9f2d47!important;
}

a:hover{
    color: #e86785 !important;
}

mark>a{
    color:black !important;
}

mark>a:hover{
    color:white !important;
}

hr{
    margin: 2em 0em;
}

h1{
    font-size:2.75em;
    line-height:1.25em;
    color:#da3b5f;
}

h2{
    background-color: #da3b5f !important;
    color: rgb(255, 255, 255); 
    padding:0.3em 0.5em 0.275em;
    margin-bottom:2rem;
    line-height:1.25em;
}

h3{
    color: #da3b5f;
    padding-top:0.3em;
    padding-bottom: 0.275em;
    margin-bottom:2rem;
    font-weight:bold;
    line-height:1.5em;
}

h4{
    color: #da3b5f;
    padding-top:0.1em;
    line-height:1.5em;
}

h5{
    padding-top:0.1em;
    font-size:1.15em;
    line-height:1.5em;
}


blockquote{
    padding-right:10px;
    border-color:#da3b5f;
}

blockquote>p, blockquote>ol>li, blockquote>ul>li{
    color:rgb(49, 49, 49);
}

blockquote>blockquote{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

td{
    vertical-align: top;
}



.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #f1dd52;
}

.hljs-keyword {
    color: #f1dd51;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title,
.hljs-attr,
.hljs-meta-keyword {
  
  color: #75fbfd;
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #f3add7;
}

.hljs-type{
color: #eb913d;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
    color: #999999;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}


.hljs-number {
    color: #f3add7;
}

.hljs-literal{
    color: #ffffff;
}


.hljs-emphasis {
  font-style: italic;
}

:root > * {
     --md-code-bg-color: rgb(49, 49, 49);
     --md-code-hl-generic-color: rgb(255,255,255);
     --md-code-fg-color:  rgb(255,255,255);
     --md-code-hl-number-color: #f3add7;
     --md-code-hl-comment-color: color: #999999;
     --md-code-hl-punctuation-color: rgb(255,255,255);
     --md-code-hl-keyword-color:  #f1dd51;
     --md-code-hl-special-color: #75fbfd;
     --md-code-hl-operator-color: rgb(255,255,255);
     --md-code-hl-name-color: #75fbfd;
}


